.col{
    padding-top:200px;
    padding-right:300px;
    padding-bottom:50px;
    padding-left:80px;
}
#head{
    color: aquamarine;
}
body{
    background-image:;
    background-repeat: no-repeat;
    background-size:100px ;
}